Repository tl-its-umich-edu/canvas-course-manager-next, pull requests merged in 2021-07, with the labels that each got.

#135 Add proactive refreshing solution for Canvas tokens (#100, #136)
  ccm_web/package.json
  ccm_web/server/src/canvas/canvas.controller.ts
  ccm_web/server/src/canvas/canvas.errors.ts
  ccm_web/server/src/canvas/canvas.interfaces.ts
  ccm_web/server/src/canvas/canvas.model.ts
  ccm_web/server/src/canvas/canvas.service.ts
  ccm_web/server/src/errors.ts
  ccm_web/server/src/migrations/2021.06.30T19.52.46.add-canvas-token-expires-at.ts
  ccm_web/server/src/user/user.errors.ts
  ccm_web/server/src/user/user.service.ts
Labels: API, back end, enhancement

#146 Remove `ConsumerTest` component and related `api/hello` route (#145)
  ccm_web/client/src/App.tsx
  ccm_web/client/src/api.ts
  ccm_web/client/src/components/ConsumerTest.tsx
  ccm_web/client/src/models/models.ts
  ccm_web/server/src/api/api.controller.ts
  ccm_web/server/src/api/api.interfaces.ts
  ccm_web/server/src/api/api.service.ts
Labels: API, back end, enhancement, front end

#150 Correct `User.canvasToken` type to be `CanvasToken | null` (#149)
  ccm_web/server/src/canvas/canvas.service.ts
  ccm_web/server/src/user/user.model.ts
Labels: back end, bug

#147 implement get sections API function (iss. #141)
  ccm_web/server/localTypes/@kth/canvas-api/index.d.ts
  ccm_web/server/src/api/api.controller.ts
  ccm_web/server/src/api/api.service.ts
  ccm_web/server/src/canvas/canvas.interfaces.ts
  ccm_web/server/src/canvas/canvas.scopes.ts
Labels: API, back end, enhancement
